<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/registers.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="home.html" class="active">Home</a>
    <a href="login.html">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<br />
<br />
<br />
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input type="text" id="firstName" class="form-control form-control-lg" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg" />

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="work">Work</label>
                                        <input type="text" id="work" class="form-control form-control-lg" />

                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                                               value="option1" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                                               value="option2" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                                               value="option3" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input type="email" id="emailAddress" class="form-control form-control-lg" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="pass">Password</label>
                                        <input type="password" id="pass" class="form-control form-control-lg" />
                                    </div>

                                </div>

                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="school">School</label>
                                        <input type="text" id="school" class="form-control form-control-lg" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="city">City</label>
                                        <input type="text" id="city" class="form-control form-control-lg" />

                                    </div>

                                </div>



                            <div class = "row">
                                <div class = "col-12">
                                    <div class="form-outline">
                                        <label class="form-label" for="about">Tell us about yourself</label>
                                        <textarea id="about" class="form-control form-control-lg" cols="40" rows="4"> </textarea>

                                    </div>
                                </div>
                            </div>



                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <div class="form-outline datepicker w-100">
                                        <label class="form-label" > BirthDay</label>

                                        <select name="day" class="select form-control-lg"  onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                                            <option value="1" disabled>Day</option>
                                            <option value="2">1</option>
                                            <option value="3">2</option>
                                            <option value="4">3</option>
                                            <option value="5">4</option>
                                            <option value="6">5</option>
                                            <option value="7">6</option>
                                            <option value="8">7</option>
                                            <option value="9">8</option>
                                            <option value="10">9</option>
                                            <option value="11">10</option>
                                            <option value="12">11</option>
                                            <option value="13">12</option>
                                            <option value="14">13</option>
                                            <option value="15">14</option>
                                            <option value="16">15</option>
                                            <option value="17">16</option>
                                            <option value="18">17</option>
                                            <option value="19">18</option>
                                            <option value="20">19</option>
                                            <option value="21">20</option>
                                            <option value="22">21</option>
                                            <option value="23">22</option>
                                            <option value="24">23</option>
                                            <option value="25">24</option>
                                            <option value="26">19</option>
                                            <option value="27">20</option>
                                            <option value="28">21</option>
                                            <option value="29">22</option>
                                            <option value="30">23</option>
                                            <option value="31">24</option>
                                        </select>


                                        <select name="month" class="select form-control-lg"  onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                                            <option value="1" disabled>Year</option>
                                            <option value="2">2006</option>
                                            <option value="3">2005</option>
                                            <option value="4">2004</option>
                                            <option value="5">2003</option>
                                            <option value="6">2002</option>
                                            <option value="7">2001</option>
                                            <option value="8">2000</option>
                                            <option value="9">1999</option>
                                            <option value="10">1998</option>
                                            <option value="11">1997</option>
                                            <option value="12">1996</option>
                                            <option value="13">1995</option>
                                            <option value="14">1994</option>
                                            <option value="15">1993</option>
                                            <option value="16">1992</option>
                                            <option value="17">1991</option>
                                            <option value="18">1990</option>
                                            <option value="19">1989</option>
                                            <option value="20">1988</option>
                                        </select>

                                        <select name="" class="select form-control-lg"  onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                                            <option value="1" disabled>Month</option>
                                            <option value="2">January</option>
                                            <option value="3">February</option>
                                            <option value="4">March</option>
                                            <option value="5">April</option>
                                            <option value="6">May</option>
                                            <option value="7">June</option>
                                            <option value="8">July</option>
                                            <option value="9">August</option>
                                            <option value="10">September</option>
                                            <option value="11">October</option>
                                            <option value="12">November</option>
                                            <option value="13">December</option>
                                        </select>

                                    </div>
                                </div>
                            </div>


                                    <div class="row">
                                        <div class="col-12">
                                            <label class="form-label" for="image-input"> Select up to 5 pictures of yourself</label>
                                           <input type="file" name="user-input" id="image-input" placeholder="Attach image.." multiple accept="image/jpg, image/jpeg">

                                        </div>
                                    </div>
                                    <div class ="row">
                                        <div class ="col-12">
                                            <label class="form-label" for="dropdown"> Select up to 5 interests</label>
                                            <select name="selectIndex" id="dropdown">
                                                <option value="Interest" disabled>Interest</option>
                                                <option value="Art">Art</option>
                                                <option value="Architecture">Architecture</option>
                                                <option value="Biographies">Biographies</option>
                                                <option value="Business">Business</option>
                                                <option value="ComputerIT">Computer IT</option>
                                                <option value="Comics">Comics</option>
                                                <option value="Cookery">Cookery</option>
                                                <option value="Environment">Environment</option>
                                                <option value="Fiction">Fiction</option>
                                                <option value="Health">Health</option>
                                                <option value="Music">Music</option>
                                                <option value="Poetry">Poetry</option>
                                                <option value="Coffee">Coffee</option>
                                                <option value="Cars">Cars</option>
                                                <option value="Gym">Gym</option>
                                                <option value="SocialMedia">Social Media</option>
                                                <option value="Clubbing">Clubbing</option>
                                                <option value="Reading">Reading</option>
                                                <option value="Feminism">Feminism</option>
                                                <option value="Movies">Movies</option>
                                                <option value="Photography">Photography</option>
                                                <option value="Skiing">Skiing</option>
                                                <option value="Festivals">Festivals</option>
                                                <option value="Painting">Painting</option>
                                                <option value="Makeup">Makeup</option>
                                                <option value="Politics">Politics</option>

                                                <option value="Language">Language</option>
                                            </select>
                                            <script>
                                                // Creates DropDownList.
                                                $('#dropdown').ejDropDownList(
                                                    {
                                                        enablePopupResize: true
                                                    });
                                            </script>
                                        </div>

                                    </div>




                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Signup">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>